<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.khaliqgant.hypemcontrol</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>07E16967-8DCD-4FE0-B29C-54E8468850B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8164576-B447-452B-9764-25107FB59394</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C69D4769-8711-4168-87A1-5773F3607E6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Khaliq Gant</string>
	<key>description</key>
	<string>Play/pause hypem.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hypem Hotkey Controller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>osascript  scripts/hypem.applescript</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8164576-B447-452B-9764-25107FB59394</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>07E16967-8DCD-4FE0-B29C-54E8468850B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Requested play/pause in Chrome</string>
				<key>title</key>
				<string>hypem-hotkey</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C69D4769-8711-4168-87A1-5773F3607E6D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07E16967-8DCD-4FE0-B29C-54E8468850B0</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>A8164576-B447-452B-9764-25107FB59394</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>C69D4769-8711-4168-87A1-5773F3607E6D</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/khaliqgant/hypem-hotkey-controller</string>
</dict>
</plist>
