<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.khaliqgant.hypemcontrol</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>07E16967-8DCD-4FE0-B29C-54E8468850B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8164576-B447-452B-9764-25107FB59394</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0838267B-84B8-4593-B56F-D908D8A2E75D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B958836-522F-4DDF-A5CC-3DA5332AD113</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C25A0FA-41B2-4A0C-B695-50617484B83B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D058416F-03C2-42BC-A0FA-20C6D638C4D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5B958836-522F-4DDF-A5CC-3DA5332AD113</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E8EDEAF-73E0-4350-9DA5-44E2806B5188</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6EE14C6D-55BC-46FC-99A5-EFBA83CC156B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDFEF3F3-65CA-421F-9543-B6C4C399C381</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73D78C55-B8A0-4EC8-B760-7BEF5B888E67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EE14C6D-55BC-46FC-99A5-EFBA83CC156B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A8164576-B447-452B-9764-25107FB59394</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C69D4769-8711-4168-87A1-5773F3607E6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C6D273C2-6BC8-49D9-84CF-A0AFAB7908D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4153F1A0-7CE4-4246-B349-33BB152758B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D058416F-03C2-42BC-A0FA-20C6D638C4D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80CA2768-01DC-4075-8A08-874C591EB89C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EF432727-DE9F-4ACC-9B3D-DA5D6C1AF6F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6D273C2-6BC8-49D9-84CF-A0AFAB7908D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Khaliq Gant</string>
	<key>description</key>
	<string>Control hypem.com via hotkeys</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hypem Hotkey Controller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>07E16967-8DCD-4FE0-B29C-54E8468850B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript  scripts/play.applescript</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8164576-B447-452B-9764-25107FB59394</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pause/Play</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C69D4769-8711-4168-87A1-5773F3607E6D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Next</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7E8EDEAF-73E0-4350-9DA5-44E2806B5188</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0838267B-84B8-4593-B56F-D908D8A2E75D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript  scripts/next.applescript</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B958836-522F-4DDF-A5CC-3DA5332AD113</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript  scripts/previous.applescript</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6EE14C6D-55BC-46FC-99A5-EFBA83CC156B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Previous</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CDFEF3F3-65CA-421F-9543-B6C4C399C381</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>73D78C55-B8A0-4EC8-B760-7BEF5B888E67</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EF432727-DE9F-4ACC-9B3D-DA5D6C1AF6F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript  scripts/heart.applescript</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6D273C2-6BC8-49D9-84CF-A0AFAB7908D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Heart</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4153F1A0-7CE4-4246-B349-33BB152758B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Status</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>80CA2768-01DC-4075-8A08-874C591EB89C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript  scripts/status.applescript</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D058416F-03C2-42BC-A0FA-20C6D638C4D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2C25A0FA-41B2-4A0C-B695-50617484B83B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07E16967-8DCD-4FE0-B29C-54E8468850B0</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>0838267B-84B8-4593-B56F-D908D8A2E75D</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>2C25A0FA-41B2-4A0C-B695-50617484B83B</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>4153F1A0-7CE4-4246-B349-33BB152758B2</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>5B958836-522F-4DDF-A5CC-3DA5332AD113</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>6EE14C6D-55BC-46FC-99A5-EFBA83CC156B</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>73D78C55-B8A0-4EC8-B760-7BEF5B888E67</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>7E8EDEAF-73E0-4350-9DA5-44E2806B5188</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>80CA2768-01DC-4075-8A08-874C591EB89C</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>A8164576-B447-452B-9764-25107FB59394</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>C69D4769-8711-4168-87A1-5773F3607E6D</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>C6D273C2-6BC8-49D9-84CF-A0AFAB7908D2</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>CDFEF3F3-65CA-421F-9543-B6C4C399C381</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>D058416F-03C2-42BC-A0FA-20C6D638C4D2</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>EF432727-DE9F-4ACC-9B3D-DA5D6C1AF6F5</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/khaliqgant/hypem-hotkey-controller</string>
</dict>
</plist>
